{% extends "base.html" %}
{% block content %}
<script src="/ui/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/ui/static/js/handlebars.min.js" type="text/javascript"></script>
<script src="/ui/static/js/navigo.min.js" type="text/javascript"></script>
<script src="/ui/static/js/iris_admin.js" type="text/javascript"></script>
<link href="/ui/static/css/lumen.min.css" type="text/css" rel="stylesheet">
<style>
#wrap {
  width: 500px;
  margin: auto;
}
#flashes {
  margin-top: 15px;
}
</style>
<script>
  $(init_iris_admin);
</script>
</head>
<body>

<div id="wrap">
  <div id="flashes"></div>
  <h1></h1>
  <ul class="nav nav-tabs">
    <li><a data-navigo href="/" data-toggle="tab" aria-expanded="true">User List</a></li>
    <li><a data-navigo href="/user_create" data-toggle="tab" aria-expanded="true">User Create</a></li>
  </ul>
  <div id="content"></div>
</div>

<script id="user-lister-template" type="text/x-handlebars-template">
  <ul class="pager">
    {{#if prev }}
      <li class="previous"><a href="{{prev}}" data-navigo>&larr; Prev</a></li>
    {{else}}
      <li class="previous"><a href="/" class="disabled"  data-navigo>&larr; Prev</a></li>
    {{/if}}
    {{#if next }}
      <li class="next"><a href="{{next}}" data-navigo>Next &rarr;</a></li>
    {{else}}
      <li class="next"><a href="/"  class="disabled"  data-navigo>Next &rarr;</a></li>
    {{/if}}
  </ul>
</script>
<div>
  <p>
    Hello World!!!
  </p>
</div>

{% endblock %}
